@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #10b981;
  --primary-dark: #059669;
}

body {
  scroll-behavior: smooth;
}

.bn-font {
  font-family: var(--font-hind-siliguri), sans-serif;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
